/* TODO Add site wide styles */
.nav_bar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: lightgray;
    border: 0.25rem solid darkgray;
    border-radius: 0.25rem;
    width: 100%;
}

.whole_page {
    border: solid grey 0.25rem;
    background-color: #ff5148;
    padding: 1rem;
}

.parchment_paper {
    display: grid;
    border: solid #ffad48 0.25rem;
    border-radius: 0.25rem;
    background-color: #F1F1D4;
    margin: 2rem;
    padding: 1rem;
}

.login_form {
    align-self: center;
    justify-self: center;
}
