/* TODO Add site wide styles */
.nav_bar {
    align-items: flex-start;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: lightgray;
    border: 0.25rem solid darkgray;
    width: 100%;
}

.whole_page {
    background-color: red;
}

.parchment_paper {
    background-color: #F1F1D4
}

.login_form {
    width: 20rem;
}
